
main {
    margin: 200px;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically */
    background-color: #f0f0f0;
}
/*center*/
.article {
  background-color: none;
  width: 50px;
  height: 50px;
  padding: 10px;
  border-style: solid;
  border-width: 5px;
  border-color: red;
  position: fixed;
}
.article8 {
  background-color: none;
  width: 70px;
  height: 70px;
  padding: 10px;
  border-style: solid;
  border-width: 5px;
  border-color: orange; 
  position: fixed;
}
/*middle RIGHT*/
.article9 {
  background-color: none;
  width: 90px;
  height: 90px;
  padding: 10px;
  border-style: solid;
  border-width: 5px;
  border-color: yellow;
  position: fixed;
}
.article10 {
  background-color: none;
  width: 110px;
  height: 110px;
  padding: 10px;
  border-style: solid;
  border-width: 5px; 
  border-color: green;
  position: fixed;
}

/*top*/
.article2 {
  background-color: none;
  width: 130px;
  height: 130px;
  padding: 10px;  
  border-style: solid;
  border-width: 5px;
  border-color: blue;
  position: fixed;
}
.article3 {
  background-color: none;
  width: 150px;
  height: 150px;
  padding: 10px;
  border-style: solid;
  border-width: 5px; 
  border-color: purple;
  position: fixed;
}
/*bottomright*/
.article4 { 
  background-color: none;
  width: 170px;
  height: 170px;
  padding: 10px;  
  border: solid 5px indigo;
  position: fixed;
}
.article5 {
  background-color: none;
  width: 190px;
  height: 190px;
  padding: 10px;
  border-style:solid;
  border-width: 5px;
  border-color: red;
  position: fixed;
}

/*bottom left*/
.article6 {
  background-color: none;
  width: 210px;
  height: 210px;
  padding: 10px;
  border-style: solid;
  border-width: 5px; 
  border-color: orange;
  position: fixed;
}
.article7 {
  background-color: none;
  width: 230px;
  height: 230px;
  border: solid 5px yellow;
  padding: 10px;
  position: fixed;
}
