

body {
    background-color: lightseagreen;
    color: darkblue;
    font-family: "Times New Roman", serif;
    font-size: 14px;
    line-height: 1.5;
}


/*HEADING STYLES*/
h1 {
    background-color:darkblue;
    color: rgb(116, 131, 131); 
    font-size: 20px; 
    font-weight: bold;
    text-transform: capitalize;
/*top*/
.article10 {
  background-color:rgb(107, 60, 237);
  width: 800px;
  height: 150px;
  position: fixed;
  top: 10px;
  
}
/*secondbox*/
.article2 {
  background-color:rgb(253, 61, 23);
  width: 800px;
  height: 150px;
  position: fixed;
  top: 150px;
}
/*third box*/
.article3 {
  background-color:rgb(203, 246, 123);
  width: 800px;
  height: 150px;
  position: fixed;
  top: 300px;
  
}
/*4thbox*/
.article4 { 
  background-color:rgb(206, 0, 161);
  width: 800px;
  height: 150px;
  position: fixed;
  top: 450px;
}
/*5thbox*/
.article5 {
  background-color:rgb(123, 172, 246);
  width: 800px;
  height: 150px;
  position: fixed;
  top: 600px;
}





/*long verticle stripes*/
.article8 {
  background-color: white;
  width: 20px;
  height: 750px;
  position: fixed;
  top: 10px;
  left: 50px;

}
.article9 {
  background-color: white;
  width: 20px;
  height: 750px; 
  position: fixed;
  top: 10px;
  left: 200px;
}
.article6 {
  background-color: white;
  width: 20px;
  height: 750px;
  position: fixed;
  top: 10px;
  left: 500px;
}
.article7 {
  background-color: white;
  width: 20px;
  height: 750px;
  position: fixed;
  top: 10px;
  left: 350px;
}

.article {
  background-color: white;
  width: 20px;
  height: 750px;
  position: fixed;
  top: 10px;
  left: 650px;
}
.article11 {
  background-color: white;
  width: 20px;
  height: 750px;
  position: absolute;
  top: 10px;
  left: 800px;
}

